@model TodoAspNET.ViewModels.IndexViewModel 
@{
    ViewData["Title"] = "Home Page";
}

@section CSS
{
    <link rel="stylesheet" href="~/css/todo.css" />
}

<div id= "container">
	<h1>To-Do Lists <span id="toggle-form"><i class="fas fa-plus"></i></span></h1>
	
	<form asp-action="Index" method="POST">
		<input asp-for="TarefaToSend.Descricao" maxlength="25" placeholder="Digite aqui" />
	</form>
	
	<ul>
		@foreach (var item in Model.Tarefas)
		{
			<li>
				<a asp-action="DeletaTarefa" asp-route-idtarefa="@item.Id">
					<span><i class="fas fa-trash"></i></span>
				</a>
				@item.Descricao
				<a asp-action="CompletaTarefa" asp-route-idtarefa="@item.Id">
					<i class="fas fa-check check @(item.Status == true ? "checked" : "")"></i>
				</a>
			</li>
		}
	</ul>
</div>

