@model List<TodoAspNET.Models.Tarefa> 
@{
    ViewData["Title"] = "Home Page";
}

@section CSS
{
    <link rel="stylesheet" href="~/css/todo.css" />
}

    

<div id= "container">
	<h1>To-Do Lists <span id="toggle-form"><i class="fas fa-plus"></i></span></h1>
	<input type="text"maxlength="25" placeholder="Digite aqui">

	<ul>
		@foreach (var item in Model)
		{
			<li><span><i class="fas fa-trash"></i></span>@item.Descricao</li>
		}
	</ul>
</div>

